
/*Inicio estilização do cabeçalho*/

.wrap-all-header{
    background:  url(../img/Bg-Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.brand-heading-center-ap h1 {
    color: #f36e35;
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: .8;
}
.brand-heading-center-ap h1 span{
    color: #007f90;
    font-size: 120px;
    display: block;
    font-weight: 600;
}
.brand-heading-center-ap {
    padding-top: 35px;
    width: 100%;
}
.brand-heading-center-ap.on {
    animation: upText 1.4s linear;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}
@keyframes upText {
    0%{transform: translateY(85vh);}
    100%{transform: translateY(0vh);}
}
.brand-heading-center-ap p {
    font-size: 25px;
    text-align: center;
    color: #fff;
}
.wrap-button {
    display: block;
    width: 210px;
    margin: auto;
    text-align: center;
}
.button {
    height: 45px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 50px;
    color: #fff;
    border-radius: 50px;
    background: #fc3a00;
    background: -moz-linear-gradient(left, #fc3a00 19%, #fc3a00 19%, #fff600 99%); 
    background: -webkit-linear-gradient(left, #fc3a00 19%,#fc3a00 19%,#fff600 99%); 
    background: linear-gradient(to right, #fc3a00 19%,#fc3a00 19%,#fff600 99%);
    transition: .5s;
    
}
.button:hover, .button:focus{
    color: #fff;
    transform: scale(1.2);
    text-decoration: none;
    transition: .5s;
}
.button-acessar-conta.on{
    animation: buttonleft 2s linear;
    animation-fill-mode: backwards;
    animation-delay: 4.5s;
}
.ap-video h2{
    color: #ff0000;
    font-size: 25px;
}
@keyframes buttonleft {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/*fim estilização do cabeçalho*/

/*inicio promo*/
.promo-plan {
    background-image: url(../img/promo.jpg);
}
.promo {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 2px solid #007f90;
    border-bottom: 2px solid #007f90;
}
.promo-plan .overlay{
    background-color: rgba(0, 0, 0, 0.8);
}
.promo-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.promo-plan-content p{
    font-size: 35px;
    text-align: center;
    color: #fff;
}
.button-promo.button {
    font-size: 18px;
    background: #007f90 !important;
    border: #007f90 2px solid;
    margin-top: 30px;
    color: #fff;
}

/*fim promo*/


/*Iframe youtube*/
.video-ap {
    background-color: #f5fdf5;
    padding: 40px 0;
}
.video-ap .video-ap-content h2{
    font-size: 24px;
    padding: 0 0 10px 0;
    font-weight: 600;
    display: inline-block;
    color: #aa0202;
}
.video-ap .video-ap-content a{
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.video-ap .video-ap-content a:hover{
    color: #aa0202;
    
}
.video-ap .video-ap-content iframe{
    display: block;
    margin: auto;
}
.video-ap-title {
    max-width: 640px;
    display: block;
    margin: auto;
}
/*Iframe youtube*/

/*apresentação*/
.socialrenda-ap {
    background-color: #f5fdf5;
}
.social-ap-content {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 0;
}
.social-ap-content h2, .social-ap-content h3 {
    font-size: 28px;
    color: #aa0202;
    font-weight: 500;
    text-align: center;
}
.social-ap-content h3{
    margin-top: 30px;
}
.social-ap-content p {
    padding: 12px 2px;
    font-size: 18px;
    text-align: justify;
}

/*apresentação*/

/*Promo cadastro*/
.promo-cadastro {
    height: 300px;
    background-image: url(../img/cadastro.jpg);
}
.promo-cadastro .overlay {
    background-color: rgba(0, 0, 0, 0.8)
}
.promo-cadastro-content p{
    font-size: 30px;
    color: #fff;
    text-align: center;
}



/*Promo cadastro*/

/*Footer*/
footer {
    background-color: #000000;
    padding: 20px;
}
footer .col-md-6:first-of-type{
    display: inline-flex;
    align-items: center;
}
footer h2 {
    font-size: 25px;
    margin-top: 40px;
    color: #fff;
}
footer img{
    width: 290px;
    margin-top: 20px;
    margin-left: auto;
    display: block;
}
footer ul {
    padding: 18px 4px;   
}
footer ul li{
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
}
footer ul li:nth-of-type(4){
    padding-top: 20px;
}
footer ul li a {
    font-size: 16px;
}
footer ul li a:hover{
    text-decoration: underline;
}
footer p{
    color: rgb(141, 140, 140);
    width: 100%;
    padding-top: 20px;
    text-align: center;
}
.footer-scroll {
    text-align: center;
    color: #fff;
    padding: 20px;
    font-size: 25px;
}
/*Footer*/

/*@media*/
@media(max-width: 1000px), (min-width: 1360px){
    .brand-heading-center-ap {display: flex; align-items: center; justify-content: center; padding-top: 0; height: 100vh;}
}
@media(max-width: 766px){
    .video-ap .video-ap-content iframe{ width: 100%; height: 300px;}
    footer img{margin: auto; padding-top: 20px;}
}
@media(max-width: 480px){
    /*Brand-heading*/
    .brand-heading-center-ap h1 {font-size: 50px}
    .brand-heading-center-ap h1 span {font-size: 65px}
    .brand-heading-center-ap p {font-size: 20px}
    /*Brand-heading*/
}
@media(max-width: 320px){
    .button-acessar-conta{margin-top: 25px;}
}

/*@media*/